<%= form_with model: article do |form| %>
    <div>
        <%= form.label :full_name %><br>
        <%= form.text_field :full_name %>
        <% article.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :short_name %><br>
        <%= form.text_field :short_name %>
        <% article.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :address %><br>
        <%= form.text_field :address %>
        <% article.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
        <% end %>
    </div>
    
    <div>
        <%= form.submit %>
    </div>
<% end %>