<h1><%= @company.full_name %></h1>

<p><%= @company.address %></p>

<ul>
  <li><%= link_to "Edit", edit_company_path(@company) %></li>
  <li><%= link_to "Delete", company_path(@company),
  method: :delete,
  data: { confirm: "Are you sure?" } %></li>
</ul>

<h2>Job Offers</h2>
<%= render @company.job_offers %>

<h2>Add Job Offer:</h2>
<%= render 'job_offers/form' %>

<p>
<%= link_to "Companies List", companies_path %>
</p>

<p>
  <%= link_to "Home", root_path %>
</p>