<h1><%= "#{@inmate.name} #{@inmate.surname}" %></h1>

<ul>
  <li><%= link_to "Edit", edit_inmate_path(@inmate) %></li>
  <li><%= link_to "Delete", inmate_path(@inmate),
  method: :delete,
  data: { confirm: "Are you sure?" } %></li>
</ul>

<p>PESEL: <%= @inmate.pesel %></p>
<p>Birth date: <%= @inmate.birth_date %></p>
<p>Average rating: <%= @inmate.average_rating %></p>
<p>Hired? <%= @inmate.hired %></p>

<h2>Qualifications</h2>
<%= render @inmate.qualifications %>

<h2>Add Qualification:</h2>
<%= render 'qualifications/form' %>

<%= link_to "Inmates List", inmates_path %>