<h1><%= "#{@inmate.name} #{@inmate.surname}" %></h1>

<ul>
  <li><%= link_to "Edit", edit_inmate_path(@inmate) %></li>
  <li><%= link_to "Delete", inmate_path(@inmate),
  method: :delete,
  data: { confirm: "Are you sure?" } %></li>
</ul>

<p>PESEL: <%= @inmate.pesel %></p>
<p>Birth date: <%= @inmate.birth_date %></p>

<% if @inmate.employment %>
  <p>Employed as <%= link_to "#{JobOffer.find(@inmate.employment.job_offer_id).job_title}", job_offer_path(JobOffer.find(@inmate.employment.job_offer_id)) %></p>
<% else %>
  <p>Unemployed</p>
<% end %>

<h2>Qualifications</h2>
<%= render @inmate.qualifications %>

<h2>Add Qualification:</h2>
<%= render 'qualifications/form' %>

<p>
<%= link_to "Inmates List", inmates_path %>
</p>

<p>
  <%= link_to "Home", root_path %>
</p>