<h1>Job Offers</h1>

<%= form_tag "/job_offers", method: "GET" do %>
  <%= label_tag :job_title %>
  <%= text_field_tag :job_title, params[:job_title] %>
  <%= label_tag :company %>
  <%= text_field_tag :company, params[:company] %>
  <%= submit_tag "Search" %>
<% end %>

<%= render @job_offers %>

<p>
  <%= link_to "Home", root_path %>
</p>